<!DOCTYPE html>
<html lang="en">
  <head>

    <title>TinyApp</title>

  </head>

<h1>Tiny App</h1>

  <% if (user) { %>

   <h3> Hi <%= user.email %>, </h3>

  <form method="POST" action="/logout">

    <button type="submit" value="Logout">Logout</button>

  </form>

  <% } else { %>

  <button type="submit" value="Login"><a href='/login'>Login</a></button>
  <button type="submit" value="Register"><a href='/register'>Register</a></button>

  <% } %>


</html>