<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <% if (username) { %>
  <form method="POST" action="/logout">
    <button type="submit" value="Logout">Logout</button>
  </form>
  <% } else { %>
  <form method="POST" action="/login">
    <input id="username" type="text" name="username" placeholder="username" style="width: 150px">
    <input type="submit" value="Submit">
  </form>
  <% } %>
   <h3> Hi <%= username %>, </h3>
</html>