<!DOCTYPE html>
<html lang="en">
<head>
</head>

  <% include ./partials/_header %>

  <body>

    <ul>

      <% for(var shortUrl in urls) { %>

        <li>

         <%= shortUrl %> : <%= urls[shortUrl].url  %>

      <form method="POST" action="/urls/<%= shortUrl %>/delete">
           <button type="submit" value="Delete">Delete</button>
          <a href="/urls/<%= shortUrl %>">Edit</a>
      </form>

        </li>


        <% }; %>

    </ul>
      <p><a href="/urls/new">Shorten URL here!</a>

  </body>

</html>