<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
  <body>
    <ul>
      <% for(var shortUrl in urls) { %>
        <li>
         <%= shortUrl %></a> : <%= urls[shortUrl] %>
      <form method="POST" action="/urls/<%= shortUrl %>/delete">
           <button type="submit" value="Delete">Delete</button>
          <a href="/urls/<%= shortUrl %>">Edit</a>
      </form>
        </li>
        <% }; %>
    </ul>
  </body>
</html>