<!DOCTYPE html>

<html lang="en">

<head></head>

  <% include ./partials/_header %>

  <body>

      <p>ShortURL: <b><%= shortURL %> </b> = <a href="<%= longURL.url %>"><%= longURL.url %></a></p>

      <p>Lets update it,</p>

    <form method="POST" action="/urls/<%= shortURL %>">

      <input id="longURL" type="text" name="longURL" value="http://" style="width: 300px">

      <input type="submit" value="Update">

    </form>

  </body>

</html>