<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
  <body>
    <ul>
        <li><%= shortURL %> : <a href="<%= longURL %>"><%= longURL %></a></li>
    </ul>
  </body>
</html>